body{
    background-image: url('slike/ozadje1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

input {
    margin-bottom: 10px;
}

h1 {
    font-size: medium;
}

div{
    margin-top: 200px;
    margin-left: 750px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    height: 200px;
    background-color: lightblue;
}

button {
    margin-top: 10px;
    border-radius: 10px;
    font-size: large;   
}

button:hover{
    text-align: center;
    background-color:chartreuse;
    font-size: larger;
}

button:active{
    text-align: center;
    background-color: black;
    color:white;
    font-style:oblique;
}
